$primary: #36a1f0 !default;
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/regular/regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/lato/regular/regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/lato/regular/regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/lato/regular/regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/fonts/lato/regular/regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/lato/regular/regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/bold/bold.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/lato/bold/bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/lato/bold/bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/lato/bold/bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/fonts/lato/bold/bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/lato/bold/bold.svg') format('svg'); /* Legacy iOS */
    font-weight: bold;
}
// Fonts 
$font-family-sans-serif:  'Lato', Arial, sans-serif;
